{% extends "default.html" %}
{% block header %}CVs ({{ ammount }} results){% endblock %}
{% block content %}
<div class="user-input-div">
<form action="cv/create" method="get">
    <button type="submit"><span class="material-symbols-outlined">add_ad</span></button>
</form>
<table>
    <tr>
        <th>CV</th>
        <th>Name</th>
        <th>Options</th>
    </tr>
    {% for cv in cvs %}
    <tr>
        <td>{{ cv['name'] }}</td>
        <td>
            <form action="cv/read/{{ cv['id'] }}" method="get">
                <button type="submit"><span class="material-symbols-outlined">read_more</span></button>
            </form>
        </td>

        <td>
            <form action="cv/delete/{{ cv['id'] }}" method="post">
                <button type="submit"><span class="material-symbols-outlined">delete</span></button>
            </form>
        </td>
        
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}