{% extends "default.html" %}
{% block title %}Summary writer{% endblock %}
{% block header %}Summary writer{% endblock %}
{% block content %}
<script src="{{ url_for('static', filename='linkedin_create_workaround.js') }}"></script>
<div class="user-input-div">
        <form action="", method="post" enctype="multipart/form-data">

            <label for="html">Text: </label>
            <textarea name="html" id="html"></textarea>
            <br>
            <input type="button" onclick="send('/linkedin/create', '/linkedin')" value="Add LinkedInJobs" id="send-btn">
        </form>
    </div>
{% endblock %}