{% extends "default.html" %}
{% block title %}LinkedIn Jobviewer{% endblock %}
{% block header %}LinkedIn Jobviewer ({{ ammount }} / {{ max_ammount }} results){% endblock %}
{% block content %}
<div class="user-input-div">
<h1>LinkedIn Jobviewer ({{ ammount }} {% if max_ammount != ammount %}/ {{ max_ammount }}{% endif %} results)</h1>
<div class="btns-flex">
    <form action="/linkedin/create" method="get">
    <button type="submit" class="btn-create"><span class="material-symbols-outlined">add_ad</span></button>
    </form>
    <form action="/jobsearch_settings" method="get">
        <button type="submit"><span class="material-symbols-outlined">settings</span></button>
    </form>
</div>
<form action="" method="post">
    <div class="btns-flex">
    <input type="search" name="search" style="width:25%" value="{{ searchfor }}">
    <button type="submit"><span class="material-symbols-outlined">search</span></button>
    </div>
</form>
 <!--
    Searchfunction:
    by tag
    by profession
    ignore this profession
    ignore this
    -->
<table>
    <tr>
        <th>logo</th>
        <th>title</th>
        <th>actions</th>
        
    </tr>
    {% for row, _tags in zip(data, tags) %}
   
    <tr>
        <td><a class="telement" href="https://www.linkedin.com/jobs/view/{{ row['lid'] }}/"><img src="{{ row['logo'] }}" class="rimg"></a></td>
        <td>
            <a class="telement" href="https://www.linkedin.com/jobs/view/{{ row['lid'] }}/"><h2 class="telement">{{ row['company'] }} {% if row['fast'] %}🏃‍♂️{% endif%}</h2></a>
            <h3 class="telement">{{ row['job_title'] }}</h3>
            <div class="skill-container">
            {% for tag, c in _tags %}
            <div class="skill" style="background-color:{{ c }}">{{ tag }}</div>
            {% endfor %}
            </div>
        </td>
        <td>
            <div class="btns-flex">
                <form action="/create_by_linkedin/{{ row['id'] }}" method="post">
                    <button type="submit" class="btn-create"><span class="material-symbols-outlined">add_home_work</span></button>
                </form>
                <form action="/linkedin/read/{{ row['id'] }}" method="get">
                    <button type="submit" class="btn-read"><span class="material-symbols-outlined">read_more</span></button>
                </form>
                <form action="/linkedin/delete/{{ row['id'] }}" method="get">
                    <button type="submit" class="btn-delete"><span class="material-symbols-outlined">delete</span></button>
                </form>
            </div>
        </td>
            
    </tr>
    
    {% endfor %}
</table>
</div>
{% endblock %}