{% extends "default.html" %}
{% block header %}CVs ({{ ammount }} results){% endblock %}
{% block content %}
<table>
    <tr>
        <th>CV</th>
        <th>Name</th>
        <th>Options</th>
    </tr>
    {% for cv in cvs %}
    <tr>
        <td>{{ cv['name'] }}</td>
        <td>
            <form action="cv/read/{{ cv['id'] }}" method="get">
                <input type="submit" value="view">
            </form>
        </td>

        <td>
            <form action="cv/delete/{{ cv['id'] }}" method="post">
                <input type="submit" value="delete">
            </form>
        </td>
        
    </tr>
    {% endfor %}
</table>
{% endblock %}