<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    {% block custom_css %}{% endblock %}
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=add_ad,add_home_work,delete,home,menu,read_more,search,settings,update" rel="stylesheet" />
</head>
<body>
    <div class="container">
        
        {% block content %}{% endblock %}
    </div>
    <button id="menu-open-btn" onclick="menuClickToSee()"><span class="material-symbols-outlined">menu</span></button>
    <aside class="sidebar" id="sidebar">
        <button onclick="menuClickToHide()"><span class="material-symbols-outlined">menu</span></button>
        <div class="title-align">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="" class="logo">
            <div>
                <h1>Application Manager</h1>
                <p>&copy 2025 Justus Decker - GPL V3</p>
                <br>
                <p>{{ __version__ }}</p>
            </div>
        </div>
        <a class="nav-link" href="/jobs">Jobs</a>

        <a class="nav-link" href="/job_titles">Job titles</a>

        <a class="nav-link" href="/cv">CV</a>

        <a class="nav-link" href="/linkedin">linkedIn</a>

        <a class="nav-link" href="/export/json">JSON Export</a>
        <a class="nav-link" href="/export/csv">CSV Download</a>

        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/help">Help</a>
    </aside>

    
</body>
</html>