{% extends "default.html" %}
{% block title %}Create Job{% endblock %}
{% block header %}Create a Job{% endblock %}
{% block content %}
<div class="user-input-div">
        <form action="", method="post">
            <label for="company">Company: </label>
            <input type="text" name="company" id="company">
            <br>

            <label for="title_id">Job Title: </label>
            <select name="title_id" id="title_id" required>
                {% for job in jobs %}
                <option value="{{ job['id'] }}">{{ job['name'] }}</option>
                {% endfor %}
            </select>
            <br>

            <label for="url">Url: </label>
            <input type="url" name="url" id="url" required>
            <br>

            <label for="mail">Mail: </label>
            <input type="email" name="mail" id="mail">
            <br>

            <label for="phone_number">phone_number: </label>
            <input type="tel" name="phone_number" id="phone_number">
            <br>

            <label for="description">description: </label>
            <textarea name="description" id="description"></textarea>
            <br>

            <label for="state_id">State: </label>
            <label for="state_id">State: </label>
            <select name="state_id" id="state_id" required>
                {% for state, nr in states %}
                
                <option value="{{ nr }}">{{ state }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}