<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading {{ ref }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loading_circle.css') }}">
</head>
<body>
    <div class="cbox ebox"></div>
    <div class="cbox">
        <table>
            <tr>
                <th>
                    <h1>Loading</h1>
                </th>
                <th style="padding-left: 10%;"><div class="loader"></div></th>
            </tr>
            
        </table>
    </div>
</body>
</html>